<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weyao.srv.dao.bee.mapper.BeeCalcInsuranceMapper">
    <update id="updateInsuranceRemindTime">
    	update t_bee_calc_insurance set remind_time = #{remindTime} where calc_record_item_id = #{calcRecordItemId}
    </update>
    
    <update id="updateInsurancePayRemindMark">
    	update t_bee_calc_insurance set pay_remind_mark = 1 where calc_record_item_id = #{calcRecordItemId}
    </update>
</mapper>