<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />
	<context:component-scan base-package="com.weyao.srv" />
	<bean id="orderPaymentExpiredTask" class="com.weyao.srv.task.OrderPaymentExpiredTask">
	</bean>
	<bean id="beePayRemindTask" class="com.weyao.srv.task.BeePayRemindTask">
	</bean>
	<bean id="autoAssignTask" class="com.weyao.srv.task.AutoAssignTask">
	</bean>
	<bean id="saleLogTask" class="com.weyao.srv.task.SaleLogTask">
	</bean>
	<bean id="reportTaskV3" class="com.weyao.srv.task.BroaderReportTask">
	</bean>
	
	<bean id="brokerageAutostopTask" class="com.weyao.srv.task.BrokerageAutostopTask"></bean>
	<bean id="bannerAutostopTask" class="com.weyao.srv.task.BeeBannerAutostopTask"></bean>
	
	<bean id="carClaimsTask" class="com.weyao.srv.task.CarClaimsTask"></bean>
	<bean id="countyStatusDataTask" class="com.weyao.srv.task.CountyStatusDataTask"></bean>

	<bean id="indicatorPersistTask" class="com.weyao.srv.task.IndicatorPersistTask">
	</bean>
	
	<bean id="bigScreenPersistTask" class="com.weyao.srv.task.BigScreenPersistTask">
	</bean>
	
</beans>